<% content_for :open_graph do %>
  <%= tag :meta, property: "og:site_name", content: "ErgoSubmissions.org" %>
  <%= tag :meta, property: "og:type", content: "website" %>
  <%= tag :meta, property: "og:title", content: "About Ergo" %>
  <%= tag :meta, property: "og:url", content: about_url %>
  <%= tag :meta, property: "og:image", content: request.protocol +
																								request.host_with_port +
																								image_path('E600.png') %>
<% end %>

<div class="row">
	<div class="offset2 span8" style="text-align: center;">
		<% if @first_time_visitor %>
		<div class="alert alert-block fade in">
			<a class="close" data-dismiss="alert">&times;</a>
			This site is for handling submissions.<br/>
			To read the journal go <a href="http://www.ergophiljournal.org">here.</a>
		</div>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="offset2 span8" style="text-align: justify;">

		<h1>About Ergo</h1>
		<br/>

		<p><em>Ergo</em> is an open access philosophy journal which publishes research on all philosophical topics and from all philosophical traditions. This includes, among other things, history of philosophy, work in both the analytic and continental traditions, and formal and empirically informed philosophy. <em>Ergo</em> is strongly committed to diversity and especially welcomes submissions from members of groups currently underrepresented in philosophy.</p>
		<p>Submission and publication are free. Authors retain copyright under the <a href="https://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Attribution-NonCommercial-NoDerivs 3.0</a> license. Generous support from the <a href="https://thecollege.syr.edu/philosophy/">Department of Philosophy</a>, <a href="https://thecollege.syr.edu/">College of Arts and Sciences</a>, and <a href="https://library.syr.edu/">Library</a> at Syracuse University make this arrangement possible. Previous financial support was provided by the University of Toronto's <a href="https://philosophy.utoronto.ca/st-george/">St. George</a> and <a href="https://philosophy.utoronto.ca/utm/">Mississauga</a> campuses, as well as the <a href="https://philosophy.utoronto.ca/st-george/graduate/">graduate department of philosophy</a>. You can <a href="https://secure.syr.edu/s/1632/17/form/form.aspx?sid=1632&gid=2&pgid=2292&cid=4508&sort=1&bledit=1&dids=179">donate here</a> to support Ergo's operations; on the 'Your Information' page, please click 'Comments and Gift Instructions' and enter 'Ergo' into the 'Additional Instructions for your Donation' field.</p>
		<p>Papers are <a href="http://www.ergophiljournal.org">published</a> as they are accepted; there is no regular publication schedule.</p>
		<p>New submissions are currently <strong>on hold</strong> since the COVID-19 situation has generated a large backlog. We will reopen submissions once the backlog is cleared. Papers previously submitted, and resubmitted papers, will continue to be reviewed as normal.</p>
		<% unless current_user %>
		<p>To create an account, <%= link_to "sign up here", signup_path %>.</p>
		<% end %>
	</div>
</div>