<% content_for :open_graph do %>
  <%= tag :meta, property: "og:site_name", content: "ErgoSubmissions.org" %>
  <%= tag :meta, property: "og:type", content: "website" %>
  <%= tag :meta, property: "og:title", content: "About Ergo" %>
  <%= tag :meta, property: "og:url", content: about_url %>
  <%= tag :meta, property: "og:image", content: request.protocol +
																								request.host_with_port +
																								image_path('E600.png') %>
<% end %>

<div class="row">
	<div class="offset2 span8" style="text-align: center;">
		<% if @first_time_visitor %>
		<div class="alert alert-block fade in">
			<a class="close" data-dismiss="alert">&times;</a>
			This site is for handling submissions.<br/>
			To read the journal go <a href="http://www.ergophiljournal.org">here.</a>
		</div>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="offset2 span8" style="text-align: justify;">

		<h1>About Ergo</h1>
		<br/>

		<p><em>Ergo</em> is an open access philosophy journal which publishes research on all philosophical topics and from all philosophical traditions. 
		This includes, among other things, history of philosophy, work in both the analytic and continental traditions, and formal and empirically informed philosophy. 
		<em>Ergo</em> is strongly committed to diversity and especially welcomes submissions from members of groups currently underrepresented in philosophy.</p>
		<p>Publication of accepted articles is free. Authors retain copyright under a <a href="https://creativecommons.org/licenses/">Creative Commons license</a> of their choice (<a href="https://creativecommons.org/licenses/by-nc-nd/3.0/">CC-BY-NC-ND 3.0</a> is the default).</p>
		<p>We acknowledge financial support from the <a href="https://thecollege.syr.edu/philosophy/">Department of Philosophy</a>, <a href="https://thecollege.syr.edu/">College of Arts and Sciences</a>, and <a href="https://library.syr.edu/">Library</a> at Syracuse University. 
		Previous financial support was provided by the University of Toronto's <a href="https://philosophy.utoronto.ca/st-george/">St. George</a> and <a href="https://philosophy.utoronto.ca/utm/">Mississauga</a> campuses, as well as the <a href="https://philosophy.utoronto.ca/st-george/graduate/">graduate department of philosophy</a>.
		You can contribute towards Ergo by asking your department to sign up to our <a href="https://journals.publishing.umich.edu/ergo/site/donate">institutional sponsorship scheme</a>, or by making a <a href="https://secure.syr.edu/s/1632/17/form/form.aspx?sid=1632&gid=2&pgid=2292&cid=4508&sort=1&bledit=1&dids=3204">direct donation</a>.</p>
		<p>Papers are <a href="http://www.ergophiljournal.org">published</a> as they are accepted; there is no regular publication schedule.</p>
		<% unless current_user %>
		<p>To create an account, <%= link_to "sign up here", signup_path %>.</p>
		<% end %>
	</div>
</div>