<% content_for :open_graph do %>
  <%= tag :meta, property: "og:site_name", content: "ErgoSubmissions.org" %>
  <%= tag :meta, property: "og:type", content: "website" %>
  <%= tag :meta, property: "og:title", content: "Supporting Ergo" %>
  <%= tag :meta, property: "og:url", content: subscribe_url %>
  <%= tag :meta, property: "og:image", content: request.protocol +
																								request.host_with_port +
																								image_path('E600.png') %>
<% end %>

<div class="row">
	<div class="offset2 span8" style="text-align: justify;">
		
		<h1>Supporting Ergo</h1>
		<br/>
		
		<p>You can <a href="https://secure.syr.edu/s/1632/17/form/form.aspx?sid=1632&gid=2&pgid=2292&cid=4508&sort=1&bledit=1&dids=3204">donate here</a> to support Ergo's operations.
		</p>
		<p>We offer a waiver of the submission donation to members of institutions who pay an annual collective donation. 
			 This institutional donation is currently $200 for institutions with a PhD program and $100 for other institutions. 
			 To arrange an institutional donation, simply have a departmental representative send an email to <%= mail_to @email %>. 
			 Alternatively, you can donate with a credit card at the <a href="https://secure.syr.edu/s/1632/17/form/form.aspx?sid=1632&gid=2&pgid=2292&cid=4508&sort=1&bledit=1&dids=3204">Syracuse Ergo donation site</a>. 
			 Once you have made the donation, please confirm by email to <%= mail_to @email %>, including the 'Confirmation number' from your donation confirmation email.</p>
		<div class="center">
			<h5>Subscribing Institutions</h5>
			<p>Cornell University</p>
			<p>Indiana University Bloomington</p>
			<p>Massachusetts Institute of Technology</p>
			<p>Murdoch University</p>
			<p>NYU Abu Dhabi</p>
			<p>Princeton University</p>
			<p>Rutgers University</p>
			<p>St. Louis University</p>
			<p>Syracuse University</p>
			<p>Umeå University</p>
			<p>University of Birmingham</p>
			<p>University of British Columbia</p>
			<p>University of Edinburgh</p>
			<p>University of Leeds</p>
			<p>University of Notre Dame</p>
			<p>University of Oxford</p>
			<p>University of Puget Sound</p>
			<p>University of Sussex</p>
			<p>University of Vermont</p>
			<p>University of Western Australia</p>
			<p>Wellesley College</p>
			<p>Virginia Tech</p>
			<p>Western Michigan University</p>
			<p>Wuhan University</p>
			<p>York University</p>
		</div>		
	</div>
</div>
