<style>
	.wide-popover .popover-content { max-height: 100em; }
</style>

<div class="row">
	<div class="offset3 span6">
		
		<legend>
			Submit a paper
		</legend>

		<%= form_for @submission, 
								 url: { controller: :author_center, action: :create }, 
								 html: { multipart: true, class: "form-horizontal" } do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
				
			<fieldset>
			
				<div class="control-group">
		      <%= f.label :title, "Title", class: "control-label"  %>
					<div class="controls">
						<%= f.text_field :title %>
					</div>
				</div>
			
				<div class="control-group">
		      <%= f.label :area_id, "Area", class: "control-label"  %>
					<div class="controls">
						<%= f.collection_select :area_id, @areas, :id, :name %>
					</div>
				</div>
				
				<div class="control-group">
		      <%= f.label :donor_code, "Donor Number", class: "control-label"  %>
					<div class="controls">
						<%= f.text_field :donor_code %>
					</div>
				</div>
				
				<div class="alert" style="margin-top: 1em;">
								Ergo now operates with a standard submission fee of $20 to cover increasing copy-editing, type-setting and hosting costs. 
								To pay this fee, please make a $20 donation to the <a href="https://secure.syr.edu/s/1632/17/form/form.aspx?sid=1632&gid=2&pgid=2292&cid=4508&sort=1&bledit=1&dids=179" target="_blank">Syracuse Philosophy Department fund</a> and note the 'Confirmation Number', beginning PAYID-, in your donation confirmation email.
								Enter this number in the 'Donor Number' field above. 
								For those who would like to claim exemption on one of the
				<span class="wide-popover"><u>
					<%= link_to 'permissible grounds,',
								'#',
								class: 'popover-link wide-popover',
								placement: 'left',
								'data-trigger' => 'hover', 
								'data-content' => "#{render 'permissible_grounds'}" %></u></span>
								please alternatively state your justification for claiming this exemption in the same field. 
								Thank you for supporting Ergo.
				</ul>
				</div>

				<div class="control-group">
		      <%= f.label :manuscript_file, "PDF File", class: "control-label"  %>
					<div class="controls">
						<%= f.file_field :manuscript_file, accept: "application/pdf" %>
					</div>
				</div>

				
		<div class="alert" style="margin-top: 1em;">
			Manuscripts must be <u>PDF files</u> and 
				    <span class="wide-popover"><u>
					<%= link_to 'fully anonymized.',
								'#',
								class: 'popover-link wide-popover',
								placement: 'left',
								'data-trigger' => 'hover', 
								'data-content' => "#{render 'anonymization_instructions'}" %>
			        </u></span>
			</ul>
		</div>
		

				<div class="control-group">
					<div class="controls">
						<%= f.submit "Submit", class: "btn btn-primary" %>
					</div>
				</div>
			
			</fieldset>
			
		<% end %>  
			
	</div>
</div>


<%= render "shared/uploading_modal" %>